/* all stuff */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

/* body{
    padding-top: 88px;
} */

p{
    /* margin: 0px; */
}

a {
    color: #717171;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 600;
}

/* header stuff */
header {
    height: 88px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-around;
}

/* left-header */
header .left-header-logoAndLinks {
    display: flex;
    align-items: center;
}

header .left-header-logoAndLinks img {
    /* background-color: aqua; */
    margin-top: 1px;
    width: 99px;
}

header .left-header-logoAndLinks .headerLinks {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 0;
}

header .left-header-logoAndLinks .headerLinks .headerLink{
    height: 100%;
    display: flex;
    align-items: center;
}

/* header .left-header-logoAndLinks .headerLinks .headerLink:hover{
    color: black;
    border-bottom: 2px solid black;
} */

/* right-header */
header .right-header-icons{
    display: flex;
}

header .right-header-icons button {
    border: 0;
    background-color: rgba(0,0,0,0);
    color: gray;
    margin-left: 15px;
    font-size: 17px;
}

header .right-header-icons button:hover{
    color: black;
}


a button {
    color: #717171;
    font-weight: 600;
    border: 0;
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    height: 88px;
}

a button:hover{
    color: black;
    border-bottom: 2px solid black;
    transition: .1s;
}

.head-a-button-on{
    color: black;
    border-bottom: 2px solid black;
}

/* header-taps */
    .header-taps .header-tap {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); 
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-taps .header-tap img{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .header-taps .header-tap h3 {
        text-align: center;
    }

    .header-taps .header-tap p {
        max-width: 530px;
        display: block;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
    }

/* main */
main{

}

main .cardes .card{

}

main .cardes .card img{
    width: 100%;
}

main .cardes .card button {
    padding: 14px 24px;
    border: 0 solid;
    background-color: red;
    color: white;
    font-size: 25px;
    position: relative;
    top: -127px;
    left: 273px;
}